*{
    margin: 0;
    padding: 0;

}

.cabeçalho {
    background-color: rgba(172, 65, 65, 0.808);
    color:rgb(253, 253, 253);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.cabeçalho-imagem{
    width: 25%;
    padding-left: 50px;

}


.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 67px;
    font-size: 20px;

    
}

.cabeçalho-lisnta-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 45px;
    
}

.cabeçalho-lissta-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 25px;
    
}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient( rgb(148, 68, 68), rgb(148, 68, 68));
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.escola-div-conteudo{
width: 70%;

}
.escola-titulo{
    padding: 98px 0;
}


estudante-imagem{
    width: 10px ; 

}

.estudante-icone{
    width: 24px; ;
}

.estudante-div{
    text-align: center;
}
