*{
    margin: 0;
    padding: 0;

}

.cabeçalho {
    background-color: rgba(172, 65, 65, 0.808);
    color:rgb(201, 196, 196);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 45px 0;  
}

.cabeçalho-imagem{
    width: 50%;
    padding-left: 30px;

}


.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 67px;
    font-size: 35px;
    color: rgb(232, 238, 238);
    
}

.cabeçalho-lisnta-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 25px;
    color: rgb(156, 147, 147);
}

.cabeçalho-lissta-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
    color: aliceblue;
}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient( rgb(148, 68, 68), rgb(148, 68, 68));
    color:rgb(197, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.escola-div-conteudo{
width: 600%;
font-size: 20px;


}
.escola-titulo{
    padding: 37px 78;
    width: 70%;
}


estudante-imagem{
    width: 10px ; 

}

.estudante-icone{
    width: 24px; ;
}

.estudante-div{
    text-align: center;
}
