
body {
    background-color: #8F4747

     }
     body {
        background-color: #8F4747;
        color: #D8D5D5;
        }
        header {
            background-color: #8F4747;
            color: #D8D5D5;
            }